body {
  background-color: slategrey;
  font-family: Courier;
}

header {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 60% 40%;
  background-color: darkslategrey;
  border: dotted #FFFFFF;
  border-radius: 5px;
}

.logo_space {
  grid-row: 1 / span 2;
  margin: 25px;
  cursor: pointer;
}

.title {
  width: auto;
  padding-left: 25%;
  padding-top: 30px;
}

.title_hpg:hover {
  color: black;
}

h1 {
  color: #FFFFFF;
  font-family: "Aboreto", sans-serif;
  font-size: 50px;
}

h4 {
  color: #FFFFFF;
  font-family: "Aboreto", sans-serif;
}

.container {
  display: flex;
  flex-direction: row;
}

main {
  width: 70%;
  float: left;
  padding: 50px 30px 30px 50px;
}

aside {
  text-align: center;
  padding: 20px;
  margin-left: 5px;
  float: right;
}

.about {
  color: #FFFFFF;
  border-style: dotted;
  border-color: #FFFFFF;
  border-radius: 5px;
  margin: 20px 20px 50px 20px;
  padding: 20px;
  display: block;
  text-align: center;
  cursor: pointer
}

.about:hover {
  box-shadow: 0 0 2px 1px;
}

.opo {
  color: #FFFFFF;
  border-style: dotted;
  border-color: #FFFFFF;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  background-color: darkslategrey;
  display: block;
  text-align: center;
  cursor: pointer
}

.opo:hover {
  box-shadow: 0 0 2px 1px;
}

li {
  list-style-type: none;
}

footer {
  margin: 20px;
}

.back_to_homepage:hover {
  color: black;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}
a:active {
  text-decoration: none;
  color: #ffffff;
}
