body {
  background-color: slategrey;
  font-family: Courier;
}

header {
  display: grid;
  grid-template-columns: 10% 90%;
  background-color: darkslategrey;
  border: dotted #FFFFFF;
  border-radius: 5px;
}

.logo_space {
  margin: 25px;
  cursor: pointer;
}

#log:hover {
  color: black;
}

.title {
  width: auto;
  margin-left: 25%;
  margin-top: 20px;
  color: #FFFFFF;
  font-family: "Aboreto", sans-serif;
}

.title_hpg:hover {
  color: black;
}

h1 {
  font-size: 50px;
}

h4 {
  margin-left: 6px;
}

.container {
  display: flex;
  flex-direction: row;
}

main {
  width: 70%;
  float: left;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 50%);
  gap: 10px;
  text-align: center;
  margin: 50px 30px 30px 50px;
}

.cover {
  cursor: pointer
}

section {
  position: relative;
  flex-wrap: wrap;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 95%;
  width: 95%;
  opacity: 0;
  transition: .5s ease;
  background-color: slategrey;
  cursor: pointer;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overlay ::-webkit-scrollbar {
  display: none;
}

section:hover .overlay {
  opacity: 1;
}

.text {
  color: #FFFFFF;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  overflow: auto;
  max-height: 90%;
}

aside {
  text-align: center;
  padding: 20px;
  margin-left: 5px;
  float: right;
}

.about {
  color: #FFFFFF;
  border-style: dotted;
  border-color: #FFFFFF;
  border-radius: 5px;
  margin: 20px 20px 50px 20px;
  padding: 20px;
  display: block;
  text-align: center;
  cursor: pointer
}

.about:hover {
  box-shadow: 0 0 2px 1px;
}

.opo {
  color: #FFFFFF;
  border-style: dotted;
  border-color: #FFFFFF;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  background-color: darkslategrey;
  display: block;
  text-align: center;
  cursor: pointer
}

.opo:hover {
  box-shadow: 0 0 2px 1px;
}

li {
  list-style-type: none;
}

footer {
  margin: 20px;
}

a:link {
  text-decoration: none;
  color: #ffffff;
}

a:visited {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}
a:active {
  text-decoration: none;
  color: #ffffff;
}
