body {
  background-color: whitesmoke;
  font-family: Courier;
  height: 100vh;
  margin: 0;
  padding: 0;
}

header {
  display: grid;
  grid-template-columns: 30% 70%;
  background-color: whitesmoke;
  border: dotted white;
  border-radius: 5px;
  height: 25%;
  min-height: 70px;
}

#log{
  position: absolute;
  top: 2.5vh;
  font-size: 20vh;
  text-indent: 1vw;
}


#log:hover {
  color: black;
  cursor: pointer;
}

.title {
  color: slategrey;
  font-family: "Aboreto", sans-serif;
}

.title_hpg:hover {
  color: black;
}

h1 {
  font-size: 8vh;
}

h4 {
  margin-left: 6px;
  color: black;
  font-size: 2vh;
}

.story:hover {
  color: black;
}

.container {
  display: flex;
  flex-direction: row;
  border: dotted white;
}

.container_homepage {
  height: 70%;
}

main {
  width: 75%;
  float: left;
}

.main_homepage {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 50%);
  gap: 10px;
  text-align: center;
  padding: 50px 30px 30px 50px;
}

.main_story{
  padding: 20px 30px 50px 50px;
}

h3 {
  text-align: center;
}

.date {
  text-align: right;
}

.dots {
  text-align: center;
}

.cover {
  font-size: x-large;
  color: black;
}

section {
  position: relative;
  flex-wrap: wrap;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: whitesmoke;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.overlay ::-webkit-scrollbar {
  display: none;
}

section:hover .overlay {
  opacity: 1;
}

.text {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.text_homepage {
  color: slategrey;
  overflow: auto;
  max-height: 90%;
}

.text_story {
  color: black;
  font-size: 20px;
}

aside {
  float: right;
  width: 25%;
  padding-top: 3%;
  border: dotted white;
  overflow: scroll;
}

.about {
  color: black;
  border-style: dotted;
  border-color: black;
  border-radius: 5px;
  padding: 1vw;
  display: block;
  text-align: center;
  cursor: pointer;
  width: 97%;
  margin-left: 0.5vw;
  font-family: Courier;
}

.about:hover {
  box-shadow: 0 0 2px 1px;
}

ul{
  overflow-wrap: break-word;
}

.opo {
  border-style: dotted;
  border-color: black;
  border-radius: 5px;
  margin-top: 3vh;
  margin-right: 1vw;
  padding: 20px;
  background-color: whitesmoke;
  display: block;
  text-align: center;
  cursor: pointer;
}

.opo:hover {
  box-shadow: 0 0 2px 1px;
}

li {
  list-style-type: none;
}

#topBtn {
  display: none;
  position: fixed;
  right: 11vw;
  bottom: 100px;
  font-size: x-large;
  border: dotted;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}

#topBtn:hover {
  box-shadow: 0 0 2px 1px;
}

.footer_homepage {
  height: auto;
  text-indent: 20px;
  position:absolute;
  bottom: 1%;
  font-size: 2vh;
}

.footer_story {
  margin: 20px;
  padding: 20px;
}

.back_to_hpg:hover {
  color: black;
}

.pagination {
  display: inline-block;
  margin-left: 10vw;
  margin-bottom: 3vh;
}

.pagination a {
  color: black;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: black;
  color: whitesmoke;
}

.pagination a:hover:not(.active) {background-color: lightgray;}

a:link {
  text-decoration: none;
  color: slategrey;
}

a:visited {
  text-decoration: none;
  color: slategrey;
}

a:hover {
  text-decoration: none;
  color: slategrey;
}

a:active {
  text-decoration: none;
  color: slategrey;
}
