body {
  background-color: whitesmoke;
  font-family: Courier;
}

header {
  display: grid;
  grid-template-columns: 10% 90%;
  background-color: darkslategrey;
  border: dotted #FFFFFF;
  border-radius: 5px;
}

.logo_space {
  margin: 25px;
  cursor: pointer;
}

#log:hover {
  color: whitesmoke;
}

.title {
  width: auto;
  margin-left: 25%;
  margin-top: 20px;
  color: slategrey;
  font-family: "Aboreto", sans-serif;
}

.title_hpg:hover {
  color: whitesmoke;
}

h1 {
  font-size: 50px;
}

h4 {
  margin-left: 6px;
  color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: row;
}

main {
  width: 70%;
  float: left;
  margin: 50px 30px 30px 50px;
}

aside {
  text-align: center;
  padding: 20px;
  margin-left: 5px;
  float: right;
}

.about {
  color: black;
  border-style: dotted;
  border-color: black;
  border-radius: 5px;
  margin: 20px 20px 50px 20px;
  padding: 20px;
  display: block;
  text-align: center;
  cursor: pointer
}

.about:hover {
  box-shadow: 0 0 2px 1px;
}

.opo {
  border-style: dotted;
  border-color: black;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  background-color: black;
  display: block;
  text-align: center;
  cursor: pointer
}

.opo:hover {
  box-shadow: 0 0 2px 1px;
}

li {
  list-style-type: none;
}

footer {
  margin: 20px;
}

.back_to_homepage:hover {
  color: black;
}

a:link {
  text-decoration: none;
  color: slategrey;
}

a:visited {
  text-decoration: none;
  color: slategrey;
}

a:hover {
  text-decoration: none;
  color: slategrey;
}
a:active {
  text-decoration: none;
  color: slategrey;
}
