body {
  background-color: whitesmoke;
  font-family: Courier;
}

header {
  display: grid;
  grid-template-columns: 10% 90%;
  background-color: black;
  border: dotted #FFFFFF;
  border-radius: 5px;
}

.logo_space {
  margin: 25px;
  cursor: pointer;
}

#log:hover {
  color: whitesmoke;
}

.title {
  width: auto;
  margin-left: 25%;
  margin-top: 20px;
  color: slategrey;
  font-family: "Aboreto", sans-serif;
}

.title_hpg:hover {
  color: whitesmoke;
}

h1 {
  font-size: 50px;
}

h4 {
  margin-left: 6px;
}


.story:hover {
  color: whitesmoke;
}

.container {
  display: flex;
  flex-direction: row;
}

main {
  width: 70%;
  float: left;
  margin: 5px 30px 50px 50px;
}

h3 {
  text-align: center;
}

.date {
  text-align: right;
}

.dots {
  text-align: center;
}

.text {
  color: black;
  font-size: 20px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

}

aside {
  text-align: center;
  padding: 20px;
  margin-left: 5px;
  float: right;
}

.about {
  color: black;
  border-style: dotted;
  border-color: black;
  border-radius: 5px;
  margin: 20px 20px 50px 20px;
  padding: 20px;
  display: block;
  text-align: center;
  cursor: pointer
}

.about:hover {
  box-shadow: 0 0 2px 1px;
}

.opo {
  border-style: dotted;
  border-color: black;
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
  background-color: black;
  display: block;
  text-align: center;
  cursor: pointer
}

.opo:hover {
  box-shadow: 0 0 2px 1px;
}

li {
  list-style-type: none;
}

#topBtn {
  position: fixed;
  right: 110px;
  bottom: 20px;
  font-size: x-large;
  border: dotted;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
}

footer {
  margin: 20px;
}

.back_to_hpg:hover {
  color: black;
}


.pagination {
  display: inline-block;
  position: absolute;
  left: 30%;
}

.pagination a {
  color: black;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: black;
  color: whitesmoke;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

a:link {
  text-decoration: none;
  color: slategrey;
}

a:visited {
  text-decoration: none;
  color: slategrey;
}

a:hover {
  text-decoration: none;
  color: slategrey;
}
a:active {
  text-decoration: none;
  color: slategrey;
}
